<div class="container">
    <% if(error_message && error_message.length>0) { %>
        <% error_message.forEach( (message) => { %> 
            <div class="alert alert-danger" role="alert">
                <%= message %> 
            </div>
        <% }); %> 
    <% } %> 
    <% if(success_message && success_message.length>0) { %>
        <% success_message.forEach( (message) => { %> 
            <div class="alert alert-success" role="alert">
                <%= message %> 
            </div>
        <% }); %> 
    <% } %> 
</div>