.delete-form {
    display: inline;
}

.signIn {
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signIn form, .signIn .backLink {
    width: min(80%, 600px);
}

.signIn form * {
    display: block;
    margin: 15px 10%;
}

.signIn form input {
    width: 80%;
}

.backLink {
    transition: font-weight 0.2s ease-in;
}

.backLink:hover {
    text-decoration: none;
    font-weight: 700;
}

.backLink .backIcon {
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.backLink:hover .backIcon {
    opacity: 1;
    transform: translateX(0);
}