.delete-form {
    display: inline;
}

.signIn {
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signIn form {
    width: min(80%, 600px);
}

.signIn form * {
    display: block;
    margin: 15px 10%;
}

.signIn form input {
    width: 80%;
}